@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #f1f5f8;
  
    --primary: #3b85fc;
    --sidebar: #00142b;
  
    --primary_black: #191917;
  
    --primary_black: #191917;
  
    /* fonts */


  }
  .page{
    @apply ml-64 -mt-8;
  }